{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}]}.
{deps, [
  {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, master}}},
  {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git",{branch,master}}},
  {protobuffs, ".*",{git, "git://github.com/basho/erlang_protobuffs.git",{branch, develop}}},
  {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
]}.